/* Reset everything */
*
{
	margin:0;
	padding:0;
	border:0;
}

body
{
	font-size: 0.8em;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	padding: 0;
	margin: auto;
	width: 640px;
}

input {
	font-weight: normal;
	cursor: pointer;
	vertical-align: middle;
	padding: 0 3px;
	font-size: 1em;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

#header {
	height: 117px;
}

#main {
	height: 100px;
	width: 640px;
	margin: 20px;
	margin-left: 30px;
}

#where_to_form li {
	list-style-type: none;
	display: block;
}

#where_to_form ul {
	list-style-position: inside;
}

.separater {
	height:1px;
	background:#717171;
	border-bottom:1px solid #313030;
}

#footer {
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
}