$def with (content)
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bus</title>
	<link rel="stylesheet" href="./static/bus.css">
	<style type="text/css">
		/* bring in the claro theme */
		@import "http://ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/claro/claro.css";
	</style>
    <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojo/dojo.xd.js"></script>
    <script>
		dojo.require("dijit.form.ComboBox");
		dojo.require("dojox.data.QueryReadStore");

        dojo.ready(function(){
	
			var comboBoxOrigin = new dijit.form.ComboBox({
	            id: "origin",
	            name: "origin",
	            value: "",
	            store: new dojox.data.QueryReadStore({url:'/json_search_addr'}),
	            searchAttr: "address"
	        }, "origin");
	
			var comboBoxDestination = new dijit.form.ComboBox({
	            id: "destination",
	            name: "destination",
	            value: "",
	            store: new dojox.data.QueryReadStore({url:'/json_search_addr'}),
	            searchAttr: "address"
	        }, "destination");
		});
    </script>
</head>
<body id="body" class="claro">
	<div id="header"><img width="640" src="./static/Bus_logo.gif"/></div>
	<div class="separater"></div>
	<div id="main">
		$:content
	</div>
	<div class="separater"></div>
	<div id="footer">Copyright &copy; 2012 Bus. All Rights reserved. <br />Developed by Hengjie Wang &amp; Jordan Thoms.</div>
</body>
</html>