$def with (content)
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bus</title>
	<link rel="stylesheet" href="./static/bus.css">
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/claro/claro.css" media="screen">
	<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojo/dojo.js" data-dojo-config="isDebug: true, async: true, parseOnLoad: true"></script>
	<script>
		require(['dojo/_base/kernel'], function(dojo){
		})
	</script>
</head>
<body id="body class="claro">
	<div id="header"><img width="640" src="./static/Bus_logo.gif"/></div>
	<div class="separater"></div>
	<div id="main">
		$:content
	</div>
	<div class="separater"></div>
	<div id="footer">Copyright &copy; 2012 Bus. All Rights reserved. <br />Developed by Hengjie Wang &amp; Jordan Thoms.</div>
</body>
</html>